.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/

android/.gradle/
android/app/build/
android/local.properties

node_modules/
npm-debug.log*
server/.env
server/storage/media/
server/storage/tmp/

.superpowers/
.worktrees
.worktrees/
*.apk
*.jks
*.keystore
*.log
